[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
